<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locação de Auditórios</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="title">
        <h1>Encontre o espaço ideal para cada evento</h1>
        <h2>conforto, tecnologia e praticidade em um único lugar!</h2>
    </div>
    <div class="container">
      <ul>
        <li><a href="/listar">Listar Auditórios</a></li>
        <li><a href="/reservar">Reservar Auditório</a></li>
        <li><a href="/cancelar">Cancelar Reserva</a></li>
      </ul>
    </div>
  </body>
</html>
